{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
  <section class="thread-detail">
    <h1>{{ object.title }}</h1>
    <small>Started by {{ object.author.username }} on {{ object.created_at|date:"d M Y" }}</small>
    
    <div class="posts">
      {% for post in posts %}
        {% include 'components/forum_post.html' with post=post level=0 %}
      {% endfor %}
    </div>
    
    {% if user.is_authenticated and user.profile.is_verified %}
      <a href="{% url 'forum:add_post' object.slug %}" class="btn">Add Reply</a>
    {% endif %}
  </section>
{% endblock %}