{% extends 'base.html' %}

{% block content %}
  <h1>{{ object.title }}</h1>
  <p>{{ object.content }}</p>
  <small>By {{ object.author }} on {{ object.created_at }}</small>

  <!-- Reactions -->
  <div class="reactions">
    {% for data in reaction_data %}
      <a href="{% url 'blog:add_reaction' object.slug data.type %}">{{ data.title }}</a> ({{ data.count }})
    {% endfor %}
  </div>

  <!-- Comments -->
  <h2>Comments</h2>
  {% for comment in object.comments.all %}
    <p>{{ comment.body }} - {{ comment.author }} ({{ comment.created_at }})</p>
  {% endfor %}
  {% if user.is_authenticated and user.profile.is_verified %}
    <a href="{% url 'blog:add_comment' object.slug %}">Add Comment</a>
  {% endif %}
{% endblock %}