{% load static %}
<nav class="navbar">
  <div class="navbar-left">
    <a href="{% url 'core:home' %}" class="logo">
      <img src="{% static 'images/logo.png' %}" alt="Indie Studio Logo">
    </a>
  </div>
  <div class="navbar-middle">
    <ul>
      <li><a href="{% url 'games:list' %}">Games</a></li>
      <li><a href="{% url 'tools:list' %}">Tools</a></li>
      <li><a href="{% url 'blog:list' %}">Blog</a></li>
      <li><a href="{% url 'forum:list' %}">Forum</a></li>
      <li><a href="{% url 'core:about' %}">About</a></li>
    </ul>
  </div>
  <div class="navbar-right">
    {% comment %} <div class="social-links">
      <a href="https://x.com/yourstudio" target="_blank"><img src="{% static 'icons/x.svg' %}" alt="X"></a>
      <a href="https://discord.gg/yourstudio" target="_blank"><img src="{% static 'icons/discord.svg' %}" alt="Discord"></a>
      <!-- Add more socials as needed -->
    </div> {% endcomment %}
    {% if user.is_authenticated %}
      <a href="{% url 'accounts:profile' %}">{{ user.username }}</a>
      <a href="{% url 'accounts:logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'accounts:login' %}">Login</a>
      <a href="{% url 'accounts:signup' %}">Sign Up</a>
    {% endif %}
    <button id="theme-toggle">🌙</button>  <!-- Or use icons for sun/moon -->
  </div>
</nav>